<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Empresa gestion de informacion de calidad">
  <meta name="keywords" content="riwi, TypeScript, posts,informacion de calidad, correctores">
  <meta name="sitedomain" content="https://riwi.io">
  <meta name="organization" content="Data Leaker Gates Riwi">
  <meta name="author" content="Wendy Karina Pineda Parra">
  <meta name="designer" content="Wendy Karina Pineda Parra">
  <meta name="copyright" content="© 2024 Riwi. All rights reserved">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <meta name="revisit-after" content="15days">
  <link rel="shortcut icon" href="" type="image/x-icon">
  <link rel="stylesheet" href="../scss/addPost.scss">
  <title>Data Leaker Gates Posts</title>
</head>

<body>
  <header>
    <h1>Gestion Pots Data Leaker Gates </h1>
    <nav>
      <ul>
        <li><button id="show-Add-post">Agregar</button></li>
        <li><button id="show-cards">Home listar</button></li>
        <li><button id="show-table-post">eliminar actualizar</button></li>
        <li><button id="logout-button">Logout</button></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="section-add-post"></section>
  </main>
  <footer>
    <section class="final-parte">
      <article class="redess">
        <ul class="redes">
          <a href="https://www.facebook.com/p/Riwi-100092420949391/?locale=es_LA" target="_blank"><i
              class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/riwi.io/?hl=es" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://co.linkedin.com/company/riwi-io" target="_blank"><i class="bi bi-linkedin"></i></a>
          <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FInfoRiwi4424" target="_blank"><i
              class="bi bi-twitter-x"></i></a>
        </ul>
      </article>
      <article class="derechos">
        <p>© 2024 <span>Riwi.io</span> Todos los derechos reservados</p>
      </article>
    </section>
  </footer>
  <script type="module" src="./admin.ts"></script>
</body>

</html>
